.main_box{
    max-width: 100%;
    display: block;

}

.font_sc_p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}
.col_tit{
    color: #0097A7;
    padding: 20px;
    font-size: 2.5em;
}

/*Header*/
a:hover{
    text-decoration: underline;
    color: rgb(3, 153, 95);
}

header a{
    font-size: 3.2em;
    font-weight: bold;
    color: #0097A7 !important;
    
}
.log{
    font-size: 1.5em !important;
    padding-left: 25px;
}

/*Inicio*/



.sec_home{
    margin: 0,auto;
    padding-top: 25px;
    justify-content: space-between;
    background-color: #2B3035;
    
    
}

.foto{
    text-align: center;
    padding-top: 100px;
    
    
}
.animate__slow {
    --animate-duration: 4s !important; /* Ajusta la duración según tus necesidades */
}
.animate__normal{
    --animate-duration: 2s !important; /* Ajusta la duración según tus necesidades */
}

.sub_info{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0, auto;
    color: azure;
    background-color: #2B3035;

}

.about{
    font-size: 1.5em;
    color: aliceblue;
    text-align: center;
    padding-bottom: 30px;
}
.text{
    padding: 1%;
}
.bt_cv_down{
    border-radius: 6px;
    background-color: #90A4AE;
    text-decoration: none;
    color: rgba(17, 50, 99, 0.822);
    padding: 1%;
}
.bt_cv_down:hover{

    background-color: aliceblue;

}
.about p{
    margin: 30px;
    margin-top: 0px !important;
}


/*Habilidades*/

.f_skills{
    padding-bottom: 20px;
}
.btn{
    margin: 2.5px 0px;
    

}

.an_skills{
    text-align: center;
    align-content: center;

}

.tre_item{
    display: flex;
    justify-content: space-between;

}
.carta{
   border-radius: 10px;
   background-color: aliceblue;
   margin: 20px 10px;
   padding: 20px;
}
/*Portafolio*/
.main_portfolio{
    
    background-color: #2B3035;
    color: aliceblue;
    padding-bottom: 20px;
}

.content{

    
}



/*contacto*/
.s_contacto{
    text-align: center;
    padding: 20px;    
    align-items: center;
    color: #2B3035;
    
}
.s_contacto h3{
    
    font-size: 1.8em;
    padding: 5px;
    padding-bottom: 10px;
    color: #5a666d;
}

.s_contacto a{
    text-decoration: none;
    font-size: 2.5em;
    padding: 30px;
    color: #2B3035;
}
.s_contacto a:hover{
    color: #0097A7;
}

/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #1a1d20;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    
}

.footer a{
    text-decoration: none;
    color: #0097A7;
    padding: 10px;
}
.footer p{
    color: #5a666d;
}
.footer a:hover{
    color: #90A4AE;
}
.footer ul{
    list-style: none;
}
.footer .nav_bar{
    display: flex;;
    justify-content: space-between;
    
    
}
.footer .nav_menu{
    
}
.cp{

    align-self: self-end;
}