.main_box{
    max-width: 100%;
    display: block;

}

/*Header*/
a:hover{
    text-decoration: underline;
    color: rgb(3, 153, 95);
}


/*Inicio*/

header a{
    font-size: 3.2em;
    font-weight: bold;
    color: #0097A7 !important;
    
}

.sec_home{
    margin: 0,auto;
    padding-top: 25px;
    justify-content: space-between;
    background-color: #2B3035;
    
    
}

.foto{
    text-align: center;
    padding-top: 100px;
    
    
}

.sub_info{
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0, auto;
    color: azure;
    background-color: #2B3035;

}

.about{
    color: aliceblue;
    text-align: center;
    padding-bottom: 30px;
}
.text{
    padding: 1%;
}
.bt_cv_down{
    border-radius: 6px;
    background-color: #90A4AE;
    text-decoration: none;
    color: rgba(17, 50, 99, 0.822);
    padding: 1%;
}


/*Habilidades*/
.f_skills h2{
    padding: 20px;
    color: #0097A7;
    
}
.btn{
    margin: 0, auto;
    padding: 10px;

}


/*Portafolio*/

.max_img{


}

/*contacto*/




/*footer*/